.recipe {
    color: rgb(92, 92, 92);
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
}

.recipe.recipe-name {
    font-size: 50px;
}

.recipe.description {
    font-size: 18px;
    margin: auto;
    width: 50%;
}