body {
    background-color: rgb(243, 242, 241);
}

div.gallery {
    margin: 10px;
    float: left;
    width: 400px;
}

div.gallery img {
    width: 100%;
    height: auto;
  }

div.desc {
    color: rgb(92, 92, 92);
    text-align: center;
    font-family: Helvectica, sans-serif;
    font-weight: bold;
}

.recipe {
    color: rgb(92, 92, 92);
    text-align: center;
    font-family: Helvectica, sans-serif;
}

.recipe.recipe-name {
    font-size: 50px;
    font-weight: bold;
}

.recipe.description {
    font-size: 18px;
    margin: auto;
    width: 50%;
}

.recipe.ingredients {
    margin-left:80px;
    width: 20%;
    text-align: left;
    position: absolute;
    top: 185px;
}

.recipe.ingredients.ingredients-title {
    text-align: center;
}

.recipe.ingredients.ragu {
    top: 215px;
}

.recipe.ingredients.ragu.ragu-list {
    top: 240px;
}

.recipe.ingredients.pasta {
    top: 420px;
}

.recipe.ingredients.pasta.pasta-list {
    top: 445px;
}

.recipe.ingredients.paella-list {
    top: 240px
}

.recipe.ingredients.ramen-list {
    top: 220px
}

.recipe.steps {
    margin:auto;
    width: 50%;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 3px solid rgb(92, 92, 92);
}

.picture.ramen {
    width: 40%;
}